fastapi>=0.110
uvicorn[standard]>=0.23
python-multipart>=0.0.9

numpy>=1.26
Pillow>=10.3
opencv-contrib-python-headless>=4.9.0   # нужен ximgproc.thinning и LSD
pymupdf>=1.24.4                         # PDF -> image
